@import "./features/slides/styles/animations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: transparent;
  color: white;
  font-family: system-ui, sans-serif;
}
